body {
  background-color: #f0f0f0;
}

h1 {
  color: green;
}
body {
    background-color: #f2f2f2;
    color:#222;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
    font-size: 48px;
    color: #333;
}
.container {
    width: 80%;
    margin: auto;
    background: wheat;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0,1);
}
